In [2]:
import pandas as pd
import seaborn as sns
sns.set(rc={'figure.figsize':(14,12)})
import matplotlib.pyplot as plt

In [3]:
game_info = pd.read_csv("D:\\new_downloads\SMT-Data-Challenge\SMT-Data-Challenge\\game_info.csv")
game_info

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
0,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,2,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,8180,0,0,0
1,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,3,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,8180,0,0,0
2,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,4,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,8180,0,0,0
3,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,5,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,6752,0,0,0
4,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,6,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,6752,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26310,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,54.0,166,7,Bottom,8115,3718,6789,9525,8079,8787,7467,5291,8638,2252,1771,0,0
26311,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,54.0,167,7,Bottom,8115,3718,6789,9525,8079,8787,7467,5291,8638,2252,1771,0,0
26312,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,54.0,168,7,Bottom,8115,3718,6789,9525,8079,8787,7467,5291,8638,2252,1771,0,0
26313,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,54.0,169,7,Bottom,8115,3718,6789,9525,8079,8787,7467,5291,8638,2252,1771,0,0
26314,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,55.0,170,7,Bottom,8115,3718,6789,9525,8079,8787,7467,5291,8638,2148,0,0,0

In [5]:
game1 = game_info[game_info['game_str']=='1900_01_TeamKJ_TeamB']
game1.head(30)

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
0,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,2,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,8180,0,0,0
1,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,3,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,8180,0,0,0
2,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,4,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,8180,0,0,0
3,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,5,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,6752,0,0,0
4,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,6,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,6752,0,0,0
5,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,7,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,6752,0,0,0
6,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,8,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,7225,6752,0,0
7,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,10,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,7225,6752,0,0
8,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,11,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,7225,6752,0,0
9,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,13,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,7225,6752,0,0
10,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,14,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,7225,0,0,0
11,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,15,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,6717,7225,0,0
12,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,16,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,6717,7225,0,0
13,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,17,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,9218,6717,7225,0
14,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,18,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,9218,6717,7225,0
15,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,19,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,9218,6717,7225,0
16,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,20,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,9218,6717,7225,0
17,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,21,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,9218,6717,7225,0
18,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,22,1,Top,1571,2456,2196,1201,2653,2614,2488,2061,2279,9218,6717,7225,0
19,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,23,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,1201,0,0,0
20,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,24,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,1201,0,0,0
21,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,25,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,1201,0,0,0
22,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,26,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,2614,1201,0,0
23,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,27,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,2982,2614,1201,0
24,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,28,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,2982,2614,1201,0
25,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,29,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,2196,0,2614,1201
26,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,30,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,2653,0,2614,1201
27,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,31,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,2653,0,2614,1201
28,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,32,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,2653,0,2614,1201
29,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,33,1,Bottom,8953,9570,9218,8180,6717,6752,8901,5535,7225,2653,0,2614,1201