In [1]:
import pandas as pd
import seaborn as sns
sns.set(rc={'figure.figsize':(14,12)})
import matplotlib.pyplot as plt

In [2]:
team_info = pd.read_csv("D:\\new_downloads\SMT-Data-Challenge\SMT-Data-Challenge\\team_info.csv")
team_info

     team_id  player_id  team_year
0     TeamA1       1059       1902
1     TeamA1       1171       1902
2     TeamA1       1177       1902
3     TeamA1       1181       1902
4     TeamA1       1195       1902
...      ...        ...        ...
1034  TeamNL       7916       1903
1035  TeamNL       8859       1903
1036  TeamNL       9040       1903
1037  TeamNL       9785       1903
1038  TeamNL       9880       1903

[1039 rows x 3 columns]

In [3]:
team_info.team_id.unique()

array(['TeamA1', 'TeamA2', 'TeamA3', 'TeamB', 'TeamKJ', 'TeamKK',
       'TeamKL', 'TeamLG', 'TeamLH', 'TeamLI', 'TeamLJ', 'TeamLK',
       'TeamLL', 'TeamMA', 'TeamMB', 'TeamMC', 'TeamMD', 'TeamME',
       'TeamMF', 'TeamMG', 'TeamMH', 'TeamMI', 'TeamMJ', 'TeamMK',
       'TeamML', 'TeamNA', 'TeamNB', 'TeamNC', 'TeamND', 'TeamNE',
       'TeamNF', 'TeamNG', 'TeamNH', 'TeamNI', 'TeamNJ', 'TeamNK',
       'TeamNL'], dtype=object)